@use '../utilities/' as *;

.hamburger {
    background-color: transparent;

    @include breakpointMin(medium-screen) {
        display: none;
    }
}

.btn {
    background-color: var(--clr-primary-100);
}