@use '../utilities/' as *;

footer {
    margin-top: auto;
}

.footer {
    background-color: var(--clr-primary-200);

    &__container { // footer > footer__container
        @extend %width;
        @extend %margin-auto;
        padding-block: clampf(50, 920, 60) clampf(30, 920, 60);

        &--display {
            display: grid;
            place-content: center;
            grid-template-areas: 
                'form'
                'footer_nav'
                'socials'
                'copyright';

            @include breakpointMin(large-screen) {
                place-content: unset;
                grid-template-areas: 
                    'socials footer_nav form'
                    'socials footer_nav copyright';
            }

            // temp
            // display: none;
        }
    }
    
    &__form {

        &--grid-area {
            grid-area: form;
        }
    }

    // footer__container > footer__nav
    &__nav { 
        display: flex;
        justify-content: space-around;
        margin-bottom: rem(32);
        
        &--grid-area { // footer__nav grid area modifier
            grid-area: footer_nav;
        }
        
        @include breakpointMin(large-screen) {
            padding-inline: rem(32);
            margin-bottom: 0;
            justify-content: space-between;
        }

        a {
            @include text-style(var(--clr-neutral-100), normal);
            @extend %hover-effect;
        }
    }
    &__list {
        align-self: flex-start;
        font-size: clampf(14, 920, 18);
    }
    &__item:not(:last-child) { // footer__nav li
        margin-bottom: rem(12);
    }
    
    // container > footer__socials
    &__socials { 
        display: flex;
        flex-direction: column;
        gap: rem(24);
        margin-bottom: rem(32);

        &--grid-area {
            grid-area: socials;
        }

        @include breakpointMin(large-screen) {
            flex-direction: column-reverse;
            margin-inline: auto;
            width: rem(180);
            height: 100%;
        }
    }
    .socials { // footer__socials > socials
        display: flex;
        align-items: center;
        justify-content: space-around;

        & > a {
            @include text-style(var(--clr-neutral-100), normal);
            @extend %hover-effect;
            font-size: 24px;
            transition: transform .275s;

            &:hover {
                transform: translateY(rem(-10))
            }
        }
    }
    &__logo { // footer__socials > footer__logo
        margin-bottom: auto;
        svg {
            margin-inline: auto;
        }
    }

    // footer > footer__copyright
    &__copyright {
        @include text-style(var(--clr-neutral-300), normal);
        text-align: center;

        &--grid-area {
            grid-area: copyright;
        }
        
        @include breakpointMin(large-screen) {
            text-align: right;
        }
    }
}