@use 'sass:color';
@use '../utilities/' as *;

body {
    font-family: 'Be Vietnam';
    background-color: color.change(hsl(227deg, 12%, 61%), $lightness: 99%);
}

p, 
h1, 
h2,
h3, 
h4, 
h5,
h6 {
    overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a, 
a:focus, 
a:visited {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}